<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending emails to user in Python</title>
</head>
<style>
    a {border-width: 1px solid #ccc; padding: 10px;}
</style>

<body>
    Hello {{user}},
    <p>Technical Category: {{technical_catetory}}</p>
    <p>Equipment Name: {{equipment_name}}</p>
    <p>Expected Date: {{expected_date}}</p>
    <p>{{reset_time}}  Maintain APP Support Team</p>
</body>

</html>